.show-page {
    background: hsl(0, 0%, 98%);
    height: 95vh;
    margin-top: .1%;
}

.show-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}

.show-img {
    align-self: center;
    margin: 0% 10% 0% 10%;
}


.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'name name'
    'details-1 details-2'
    'borders borders';
}

.details-container p {
    font-size: 1.7vh;
}

.details-container p span {
    font-weight: 600;
}

.show-name {
    grid-area: name;
    align-self: end;
}

.details-1 {
    grid-area: details-1;
}


.details-2 {
    grid-area: details-2;
}

.borders {
    grid-area: borders;
    padding-top: 5%;
    align-self: start;
}

.borders span:first-child {
    font-weight: 600;
    padding-bottom: 2%;
}

.borders .bd {
    border: 1px solid rgba(173, 171, 171,0.2);
    box-shadow: 0px 2px 1px -1px rgba(173, 171, 171,0.2), 
    0px 1px 1px 0px rgba(173, 171, 171, 0), 
    0px 1px 3px 0px rgba(173, 171, 171, 0.12);
    margin: 1%;
    padding: 0 2% 0 2%;
}