.card-container {
    padding-left: 5%;
    padding-right: 5%;
}

.main-page-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin: 8%;
}

.card-contents {
    padding: 2% 5% 5% 5%;
}

/* this light mode will be toggled on and off */
.light-card {
    background: white;
}