.card-container {
    padding: 2% 5% 0 5%;
    margin-top: .1%;
}

.main-page-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.card {
    margin: 8%;
}

.card-contents {
    padding: 2% 5% 5% 5%;
}

/* Filter Form */
.filter-form {
    border: 3px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* this light mode will be toggled on and off */
.light-card {
    background: white;
}

